.btn{
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 5px;
  outline:none;
  background-color: $button-color;
  border:0;
  font-family: 'Montserrat', sans-serif;

  &:hover{
    cursor:pointer;
    background-color: darken($button-color, 5);
  }
  &:active{
    background-color: darken($button-color, 10);
  }
}
.btn--active{
  background-color: $button-active-color;

  &:hover{
    cursor:pointer;
    background-color: darken($button-active-color, 5);
  }

  &:active{
    background-color: darken($button-active-color, 10);
  }

}

.btn--warning {
  background-color: $button-warning-color;

  &:hover {
    cursor: pointer;
    background-color: darken($button-warning-color, 5);
  }

  &:active {
    background-color: darken($button-warning-color, 10);
  }

}
